.DS_Store

Temp/
Library/
obj/
*.csproj
*.sln
*.apk
shoot.userprefs
*.swp
.vs/
.vscode/

# Not included in the project, these are by the license.
Assets/BulletXNA/
Assets/MMD4Mecanim/
Assets/つみ式ミクさんv1.1/
Assets/Tda式初音ミク・アペンドVer1.00/
Assets/WAVEFILE_fullver/
